{% extends "website/base.html" %}

{% block title %}
{{student.first_name}}'s Record
{% endblock title %}

{% block content %}


<h1>{{student.first_name}}'s Record</h1>
<div class="card">
    <div class="card-header">
        {{ student.first_name }} {{ student.last_name }}
    </div>
    <div class="card-body">

      <p class="card-text">    
       <strong>Email:</strong> {{ student.email }}<br><br>
       <strong>Phone Number:</strong> {{ student.phone_number }}<br><br>
       <strong>Address:</strong> {{ student.address }}<br><br>
       <strong>City:</strong> {{ student.city }}<br><br>
       <strong>State:</strong> {{ student.state }}<br><br>
       <strong>Zip Code:</strong> {{ student.zip_code }}<br><br>
       <strong>Created At:</strong> {{ student.created_at }}<br><br>
       <strong>ID:</strong> {{student.id}}<br><br>
    </p>
    </div>
  </div>
<br>


<a href="{% url 'website:home' %}" class="btn btn-secondary">Back</a>


    


{% endblock content %}


